extends layout

block content
  div#titleContainer
    h1 
      | Live stock tracker
  p.description
    | Change the dates or stocks to view an updated graph. All updates will be visible by everyone currently on the webiste.
    | <br>If a stock is not visible it most likely does not exist within the current date boundaries
  p.faded
    | YYYY MM DD&nbsp;&nbsp;-&nbsp;&nbsp;YYYY MM DD
  div#datePickerContainer
    input( type="text" id="datePickerStart")
    | -
    input( type="text" id="datePickerEnd")
  canvas#mainChart
  div#legend
  
  div#addStockContainer
    div#nasdaqContainer
      h3 
        | Search stock
      form#nasdaqForm
        input( type="text" id="nasdaqQuery" placeholder="Stock Code" required )
        input( type="submit" id="submit" value="Add" )

  p#footer
    | *built by 
    a(href="https://demiacle.github.io/") Daniel Escobedo
    |:
    a(href="https://twitter.com/Demiacle?lang=en") @Demiacle
    |  using 
    a(href="https://www.npmjs.com/package/google-finance") google-finance 
    | , 
    a(href="https://github.com/dbushell/Pikaday") Pikaday
    | and 
    a(href="https://github.com/chartjs/Chart.js") Chart.js
    
  script.
    // Set pug variables so we can work with them in the scripts
    var demiacleVars = {
      url: '!{url}',
      stocks: JSON.parse('!{stocks}'),
      startDate: '!{startDate}',
      endDate: '!{endDate}'
    }
    console.log( demiacleVars.stocks )
  script( src="vendor.bundle.js" )
  script( src="entry.bundle.js" )