extends layout

block content
  div#titleContainer
    h1 
      | Live stock tracker
  div#datePickerContainer
    | From
    input( type="text" id="datePickerStart")
    | To
    input( type="text" id="datePickerEnd")
  canvas#mainChart
  div#legend
  
  div#addStockContainer
    div#nasdaqContainer
      h3 
        | Search stock
      form#nasdaqForm
        input( type="text" id="nasdaqQuery" placeholder="Stock Code" required )
        input( type="submit" id="submit" value="Add" )

  p#footer
    | *built by 
    a(href="https://twitter.com/Demiacle") Daniel Escobedo
    |  using 
    a(href="https://www.npmjs.com/package/google-finance") google-finance 
    | and 
    a(href="https://github.com/dbushell/Pikaday") Pikaday
  

  // *****SCRIPTS*****
  script.
    var stocks = JSON.parse('!{stocks}') // Render pug variable TODO remove from global
  script(src="/javascripts/initializeChart.js")
  script(src="/javascripts/datePickerLogic.js")
  script(src="/javascripts/websocketLogic.js")
