doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js")
  body
    div#container
      block content
